.box-field {
  width: 45%;
  font-family: arial;
  /* margin-left: 30px; */
  height: 80%;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}

.box-button {
    position: relative;
    margin-top: 5vh;
}

.box-button-inner {
    margin: 0;
    position: absolute;
    left: 80%;
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
}

.box-field-left {
    float: left;
}

.box-field-right {
    float: right;
}

.modal-final-line-content{
    display: flex;
    flex-direction: row;
}